# Minimal Oaxaca Demo

This notebook demonstrates a minimal example of running the Oaxaca-Blinder decomposition and printing the results.

In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
from oaxaca import Oaxaca

In [2]:
# Load sample data
df = pd.read_csv("sample_data.csv")
df.head()

,age,female,foreign_born,LTHS,high_school,some_college,college,advanced_degree,education_level,ln_real_wage
0,52,0,1,0,1,0,0,0,high_school,2.140066
1,46,1,1,0,1,0,0,0,high_school,NaN
2,31,1,1,0,1,0,0,0,high_school,2.499795
3,35,0,1,0,1,0,0,0,high_school,2.708050
4,19,0,0,0,1,0,0,0,high_school,2.079442

In [3]:
# Initialize and fit the Oaxaca model
oaxaca_model = Oaxaca()

# Fit the model using a simple formula
results = oaxaca_model.fit(
    formula="exp(ln_real_wage) ~ -1 + age + female + C(education_level)",
    data=df,
    group_variable="foreign_born"
)

print("Model fitted successfully!")
print(f"Groups: {results.groups_}")

Model fitted successfully!
Groups: [0, 1]

In [ ]:
# Run two-fold decomposition
twofold_decomposition = results.two_fold()

In [ ]:
# Display detailed summary - shows rich HTML output in Jupyter
twofold_decomposition

Oaxaca-Blinder Decomposition Results
==================================================
Group Variable: foreign_born
Groups: 0 (Group 0) vs 1 (Group 1)
OLS Regression Results by Group
============================================================

Group: 0
----------------------------------------
Number of observations: 287
R-squared: 0.3268
Mean of dependent variable: 17.5828
Std of dependent variable: 12.0486

Coefficients:
Variable                                      Coeff    Std Err        t    P>|t|
-------------------------------------------------------------
age                                          0.2640     0.0468    5.637    0.000
female                                      -6.1497     1.1929   -5.155    0.000
C(education_level)[LTHS]                     5.6689     2.3922    2.370    0.018
C(education_level)[advanced_degree]         23.6506     2.9415    8.040    0.000
C(education_level)[college]                 19.0245     2.4208    7.859    0.000
C(education_level)[high_school]              8.5831     1.9820    4.331    0.000
C(education_level)[some_college]            10.9798     1.9020    5.773    0.000

Group: 1
----------------------------------------
Number of observations: 379
R-squared: 0.3195
Mean of dependent variable: 14.5672
Std of dependent variable: 8.9085

Coefficients:
Variable                                      Coeff    Std Err        t    P>|t|
-------------------------------------------------------------
age                                          0.0780     0.0310    2.519    0.012
female                                      -3.2055     0.7868   -4.074    0.000
C(education_level)[LTHS]                     9.7661     1.4673    6.656    0.000
C(education_level)[advanced_degree]         36.4205     2.4641   14.781    0.000
C(education_level)[college]                 16.1671     1.9121    8.455    0.000
C(education_level)[high_school]             12.1407     1.4121    8.598    0.000
C(education_level)[some_college]            14.7311     1.7540    8.399    0.000

============================================================
Total Difference: -3.0156
Explained (Endowments): -0.8994
Unexplained (Coefficients): -2.1162
Weights: [0.5, 0.5]

Detailed Variable Contributions:
------------------------------------------------------------------------------------------------------------------------
Variable                                  Explained   Expl %  Unexplained  Unexp %      Total    Tot %
------------------------------------------------------------------------------------------------------
age                                          1.1330   126.0%      -6.9423  -328.1%    -5.8094  -192.6%
female                                       0.3979    44.2%       1.2905    61.0%     1.6883    56.0%
C(education_level)                          -2.4302  -270.2%       3.5357   167.1%     1.1055    36.7%
  C(education_level)[LTHS]                   2.0791   231.2%       1.0373    49.0%     3.1163   103.3%
  C(education_level)[advanced_degree]       -1.1421  -127.0%       0.6471    30.6%    -0.4950   -16.4%
  C(education_level)[college]               -0.8292   -92.2%      -0.3010   -14.2%    -1.1303   -37.5%
  C(education_level)[high_school]            0.7041    78.3%       1.1745    55.5%     1.8786    62.3%
  C(education_level)[some_college]          -3.2421  -360.5%       0.9778    46.2%    -2.2642   -75.1%
Total                                       -0.8994   100.0%      -2.1162   100.0%    -3.0156   100.0%

In [7]:
np.isclose(1.1330 + 0.3979 + -2.4302, -0.8994, atol=0.0001)

np.True_

In [ ]:
threefold_decomposition = results.three_fold()