# Minimal Oaxaca Demo

This notebook demonstrates a minimal example of running the Oaxaca-Blinder decomposition and printing the results.

In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd

from oaxaca import Oaxaca

In [2]:
# Load sample data
df = pd.read_csv("sample_data.csv")
df.head()

,age,female,foreign_born,LTHS,high_school,some_college,college,advanced_degree,education_level,ln_real_wage
0,52,0,1,0,1,0,0,0,high_school,2.140066
1,46,1,1,0,1,0,0,0,high_school,NaN
2,31,1,1,0,1,0,0,0,high_school,2.499795
3,35,0,1,0,1,0,0,0,high_school,2.708050
4,19,0,0,0,1,0,0,0,high_school,2.079442

In [3]:
# Initialize and fit the Oaxaca model
oaxaca_model = Oaxaca()

# Fit the model using a simple formula
results = oaxaca_model.fit(
    formula="exp(ln_real_wage) ~ -1 + age + female + C(education_level)", data=df, group_variable="foreign_born"
)

print("Model fitted successfully!")
print(f"Groups: {results.groups_}")

Model fitted successfully!
Groups: [0, 1]

In [5]:
# Run two-fold decomposition
twofold_decomposition = results.two_fold(weights={0: 1.0, 1: 0.0})

In [10]:
# Display detailed summary - shows rich HTML output in Jupyter
twofold_decomposition

OaxacaResults(groups=[0, 1], group_variable='foreign_born')

In [11]:
threefold_decomposition = results.three_fold()